@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-1 blockquote{
	text-align: center;
}

#chapter-1 blockquote header{
	font-variant: small-caps;
}

/* Letter formatting */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end letter formatting */

/* Verse formatting */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}
/* end verse formatting */
